html{
    font-size:62.5%;
  background-color: lightcyan;
  }
  body{
    font-size:1.6rem;
    line-height:1.5;
  }
   .headimg{
      display: inline-block;
      border-radius:0 50%;
      width: 50%;
  }
  nav a, .footer a{
      display: inline-block;
      margin:0 4%;
      background-color: orangered;
      color:whitesmoke;
      border-radius: 15%;
      padding:2% 5% 2% 5%;
      }
.imgbytxt{
      display: inline-block;
      width:50%;
  }

  .image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

//!--<div style="width: 100%;">
<div style="width: 50%; height: 100px; float: left; background: green;"> 
    Left Div 
</div>
<div style="margin-left: 50%; height: 100px; background: blue;">  --//
